$color-primary: #333744;
$color-primary-light: #42485B;
$color-primary-light2: #b2b8cc;
$color-accent: #3d5cc1;
$color-accent-light: #8ba0e4;
$color-similar: #373D41;
$color-menu-text: #FFFFFF;

$header-height: 60px;
$menu-width: 150px;
$menu-onlyicon-width: 50px;
$footer-height: 50px;
$brand-img-height: 50px;

$usual-padding: 4px 14px;
$menu-padding: 14px 14px 14px 25px;
$menu-list-padding: 14px 14px 14px 45px;
$header-padding: .3em 0 0 0;
$brand-margin-left: 30px;
$header-name-margin: .6em 0 0 0;
$footer-padding: 15px 15px;
