// height & width
$header-height: 51px;
$logo-width: 40px;
$menu-min-width: 200px;
$min-label-width: 80px;
$line-height: 34px;

// padding
$copyright-padding: 10px;

// color
$color-bg: #1C2B36;
$color-bg-contrast: white;
$color-primary: #209E91;
$color-primary-hover: #158e81;
$color-primary-light: rgba(32, 158, 145, 0.5);
$color-accent: #D4B01E;
$color-accent-hover: #D1AA0C;
$color-error: #E14212;
$color-footer: #E5E5E5;